TCGPLAYER_SEARCH_ENDPOINT=https://mp-search-api.tcgplayer.com/v1/search/request
TCGPLAYER_MPFEV=5199
TCGPLAYER_SHIPPING_COUNTRY=US
TCGPLAYER_MIN_DELAY_MS=10000
TCGPLAYER_TIMEOUT_MS=30000
TCGPLAYER_RETRY_ATTEMPTS=3
TCGPLAYER_MAX_PAGE_SIZE=48
TCGPLAYER_USER_AGENT=tcgplayer-pokemon-prices/1.0

